

.featured_works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
}

.featured_title {
    font-family: var(--font-secondary);
    text-align: center;
    font-style: italic;
    font-size: 60px;
    font-weight: 200;
    color:  var(--basic5);
}

/* Macbooks */
@media only screen and (min-device-width: 1000px) and (max-device-width: 1600px) {

    .featured_title {
        font-size: 40px;
    }

    .featured_works {
        gap: 10px;
    }
}


/* For mobile */

@media only screen and (max-device-width: 1001px)  { 

    .featured_title {
        font-size: 30px;
    }


}
  
  
  
