.testimonial_box {
    
    width: 88%;
    height: auto;
    padding: 40px;
    border-radius: 30px;
    background-color: var(--basic2);
    margin-bottom: 2rem;
    break-inside: avoid;
}

.client {
    margin-top: 30px;
}

.client_photo {
    width: 77px;
    height: 77px;
}

.client_photo img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.client_name {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
    color: var(--basic6);
}

.client_comment {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 200;
    line-height: 150%;
   
    color: var(--basic5);
    letter-spacing: -0.3px;
}

.client_company {
    font-size: 14px;
    color: var(--basic4);
}

@media only screen and (max-device-width: 1001px)  {

    .testimonial_box {
        padding: 16px;
    }
}