
.backbutton
{
    position: fixed;
    float: left;
    margin: 10px;
    width: 50px;
    height: 50px;
    background-color: var(--basic1);
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;
    border-radius: 30px;
}

.backbutton:hover {
    background-color: var(--primary1);
    border: solid var(--basic1);
}

.backbutton:active {
    background-color: var(--primary2);

}


.backbutton img {
    display: block;
    margin: 0 auto;
}

.nextPrevious_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    display: flex;
    border-top: 2px solid var(--basic5);; 
    padding-top: 20px;

}

.nextButton a  {
    margin-right: 0;
    font-family: "Instrument Serif", serif;
    font-size: 28px;
    font-style: italic;
    color: var(--basic-color2); 
    border-style: solid;
    border-color: var(--basic5); 
    border-width: 1px;
    padding: 4px 20px 4px 20px;
    border-radius: 40px;
}



.nextButton a:hover  {
    background-color: var(--primary1); 

}

.nextButton a:active  {
    background-color: var(--primary2); 
}


.invisiblePlaceholder {
    visibility:hidden;
}

.filter-container {
  display: flex;
  justify-content: center;   /* ✅ centers items horizontally */
  align-items: center;       /* ✅ optional: centers vertically if container has height */
  flex-wrap: wrap;           /* ✅ optional: allows multiple filters to wrap */
  gap: 6px;                  /* ✅ spacing between filters */
  padding: 10px;  
}
.filter {

    display: inline-block; 
    margin-top: 10px;
    font-size: 16px;
    letter-spacing: -1%;
    font-weight: 300;
    color: var(--basic4);
     padding: 4px 10px;         /* 🟡 Add this for spacing inside */
    border-radius: 6px; 
    border: solid 1px var(--basic1);
    width: auto!important;
    max-width: fit-content;
    margin-right: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.3s ease; /* ✨ smooth in & out */
}

.filter-active {
    background-color: #FFFFEE;
    display: inline-block; 
    margin-top: 10px;
    font-size: 16px;
    letter-spacing: -1%;
    font-weight: 300;
    color: #979303;
    padding: 4px 10px; 
    border: solid 1px #E0DB3A;        /* 🟡 Add this for spacing inside */
    border-radius: 6px; 
    width: auto!important;
    max-width: fit-content;
    margin-right: 4px;
    cursor: pointer;
}


.filter:hover {
        background-color: var(--basic3); 
        color: var(--basic4);
        border: solid 1px #d4d4d4;  
}


  /* for mobile */

  @media only screen and (max-device-width: 1001px)  { 
  
  
    .nav_mobile{
      display: flex;
      animation: fadein-from-top 1000ms;

    }

    .nav_desktop {
      display: none;
    }
  

  }

